/*

Utilities

Should be added prefix `.u-*`

*/

.u-tal {
  text-align: left;
}

.u-tac {
  text-align: center;
}

.u-tar {
  text-align: right;
}

.u-db {
  display: block;
}

.u-dib {
  display: inline-block;
}

.u-di {
  display: inline;
}