///
// Mixin font size
//
// Generating container mixin
//
// ```
// @include container(1300px, 2rem);
//
// // output
// max-width: 1300px;
// width: 100%;
// margin-left: auto;
// margin-right: auto;
// padding-left: 2rem;
// padding-right: 2rem;
// ```

@mixin container($max-width: 1200px, $gutter: 1rem) {
  max-width: $max-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

