///
// Mixin font size
//
// Generating font setting mixin
//
// ```
// @include font-size(16px, 1.5);
//
// // output
// line-height: 1.5;
// font-size: 16px;
// font-size: 1rem;
// ```

@mixin make-flex-row() {
  @include flex();
  @include flex-row();
  @include flex-wrap();
}

@mixin make-flex-col() {
  @include flex();
  @include flex-col();
  @include flex-wrap();
}

@mixin flex() {
  display: flex;

  &--inline {
    display: inline-flex;
  }
}

@mixin flex-row() {
  flex-direction: row;
  
  &--reverse {
    flex-direction: row-reverse;
  }
}

@mixin flex-col() {
  flex-direction: column;
  
  &--reverse {
    flex-direction: column-reverse;
  }
}

@mixin flex-wrap() {
  flex-wrap: wrap;

  &--no-wrap {
    flex-wrap: nowrap;
  }

  &--wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

@mixin flex-justify() {
  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-around {
    justify-content: space-around;
  }
}

