///
// Mixin Flexbox
//
// Generating flexbox layout
//


@mixin make-flex-row() {
  @include flex();
  @include flex-row();
  @include flex-wrap();
}

@mixin make-flex-col() {
  @include flex();
  @include flex-col();
  @include flex-wrap();
}

@mixin flex() {
  display: flex;

  &--inline {
    display: inline-flex;
  }
}

@mixin flex-row() {
  flex-direction: row;
  
  &--reverse {
    flex-direction: row-reverse;
  }
}

@mixin flex-col() {
  flex-direction: column;
  
  &--reverse {
    flex-direction: column-reverse;
  }
}

@mixin flex-wrap() {
  flex-wrap: wrap;

  &--no-wrap {
    flex-wrap: nowrap;
  }

  &--wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

@mixin flex-justify() {
  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-around {
    justify-content: space-around;
  }
}

@mixin flex-align-items() {
  &--align-items-start {
    align-items: flex-start;
  }

  &--align-items-end {
    align-items: flex-end;
  }

  &--align-items-center {
    align-items: center;
  }

  &--align-items-base {
    align-items: baseline;
  }

  &--align-items-stretch {
    align-items: stretch;
  }
}

@mixin flex-align-content() {
  &--align-content-start {
    align-content: flex-start;
  }

  &--align-content-end {
    align-content: flex-end;
  }

  &--align-content-center {
    align-content: center;
  }

  &--align-content-between {
    align-content: space-between;
  }

  &--align-content-around {
    align-content: space-around;
  }

  &--align-content-stretch {
    align-content: stretch;
  }
}



